body{
    background-color: lightgrey;
    font-family: sans-serif;
}

.jumbotron{
    text-align: center;
    color: rgb(0, 153, 51);
}

#addTask{
    text-align: center;
}

#table{
    text-align: center;
    width: 65%;
    margin-top: 25px;
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 100px;
}

#taskTitle{
    text-align: center;
    margin: 25px;
    color: rgb(0, 153, 51);
}

#newTask{
    text-align: center;
    margin: 25px;
    color: rgb(0, 153, 51);
}